<form class="card" [formGroup]="form" (submit)="submit()">

    <h2>Вхід до панелі адміністратора</h2>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as err">{{err}}</div>
    <div class="alert alert-info" *ngIf="message">{{message}}</div>

    <div class="form-control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Введіть Email..." formControlName="email">
        <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            <small *ngIf="form.get('email')?.errors?.['required']">Обов'язкове поле</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Невірний формат електронної адреси</small>
        </div>

    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">

        <label for="password">Пароль</label>
        <input id="password" type="password" placeholder="Введіть пароль..." formControlName="password">
        <div class="validation" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
            <small *ngIf="form.get('password')?.errors?.['required']">Обов'язкове поле</small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">Мінімальна довжина пароля - {{form.get('password')?.errors?.['minlength']?.['requiredLength']}} символів (введено {{form.get('password')?.errors?.['minlength']?.['actualLength']}})</small>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Увійти</button>
</form>
